.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 180px;
    height: 135px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    margin: 20px;
}

.nav-items>ul>li {
    margin-left: 10px;
    padding: 30px;
    font-size: 24px;
    font-weight: bolder;
}

.body {}

.search {
    padding: 10px;
}

.res-img {
    width: 100%;
}

.res-card {
    padding: 5px;
    width: 250px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.filter-btn,
.search-btn,
.logInOut-btn {
    padding: 12px;
    margin-left: 20px;
}

.shimmer-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}

.search-box {
    height: 30px;
    width: 450px;
    font-size: 18px;
    padding: 3px;
}

.search {
    display: flex;
    justify-content: space-between;
}