.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 180px;
    height: 135px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    margin: 20px;
}

.nav-items>ul>li {
    margin-left: 10px;
    padding: 30px;
    font-size: 24px;
    font-weight: bolder;
}

.body {}

.search {
    padding: 10px;
}

.res-img {
    width: 100%;
}

.res-card {
    padding: 5px;
    width: 250px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.filter-btn,
.search-btn,
.logInOut-btn {
    padding: 12px;
    margin-left: 20px;
}

.shimmer-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}

.menu
{
    margin : 50px 250px;
}

.res-details
{
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding-left: 20px;
    box-shadow: 15px 20px lightgray;
    
}

.res-card-links
{
    text-decoration: none;
    color: black;
}

.res-menu
{
    padding: 20px;
}

.menu-details{
    color: rgba(2, 6, 12, 0.6);;
    padding: 20px 0px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
}

.menu-name{
    font-weight:bold;
    color: black;
}

.menu-details li{
    padding : 5px;
    list-style-type: none;
}

.search-box {
    height: 30px;
    width: 450px;
    font-size: 18px;
    padding: 3px;
}

.search {
    display: flex;
    justify-content: space-between;
}